@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900);

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "devasiabold";
  src: url("/fonts/devasia-bold-webfont.woff2") format("woff2"),
    url("/fonts/devasia-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  /* margin: 0; */
  background: #faf0e6;
  margin: 0 auto;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

header {
  color: white;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: rgb(46, 182, 255, 0.4);
}

nav a {
  padding: 0 12px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(250, 240, 230);
}

.navbar-brand {
  color: rgb(250, 240, 230);
}

.ankhnav {
  font-size: 25px;
  color: rgb(250, 240, 230);
}

.nav-link:hover,
.navbar-brand:hover {
  color: rgb(152, 152, 152);
  text-decoration: none;
  transform: scale(1.1);
  transition: 0.1s ease-in-out;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  z-index: -999999;
}

.overlay {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "devasiabold";
  z-index: 3;
}

.overlay div {
  color: rgb(255, 255, 255);
  font-size: 200px;
  font-weight: 600;
  mix-blend-mode: overlay;
  text-align: center;
}

.ankhimg {
  height: 170px;
  padding-bottom: 25px;
}

:hover.ankhimg {
  color: rgb(40, 15, 0);
  cursor: pointer;
  transform: scale(1.5);
  transition: 0.3s ease-in-out;
}

.audioplayer {
  display: flex;
  position: relative;
  /* top: -1130px; */

  left: 590px;
  z-index: 1;
  /* opacity: 0.4; */
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: rgb(194, 194, 194);
  color: #ffffff;
}

.title {
  text-align: center;
  font-size: 50px;
  margin-top: -250px;
  margin-bottom: 50px;
  color: rgb(69, 69, 69);
  text-transform: uppercase;
}
.titles {
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  color: rgb(69, 69, 69);
  text-transform: uppercase;
}

.backgroundimg {
  position: relative;
  z-index: -999;
  top: -250px;
  width: 99.3vw;
  opacity: 1;
}

/* -------------------------- CAROSEL  ------------------------------- */

.container {
  width: 900px;
}
.carousel-inner {
  background: black;
  overflow: hidden;
  border-radius: 20px;
}

img {
  object-fit: cover;
  opacity: 0.7;
}
.learnMore {
  background-color: #2eb6ff;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  padding: 15px 30px;
  border: none;
}

.learnMore a {
  color: white;
}

.learnMore:hover {
  color: white;
  text-decoration: none;
  transform: scale(1.1);
  transition: ease-in-out;
}

.carousel-caption {
  text-align: center;
  padding-bottom: 150px;
}

h5 {
  font-size: 40px;
}
p {
  font-size: 20px;
  padding-bottom: 10px;
}
/* -------------------------- WEATHER  ------------------------------- */

.weatherContainer {
  background-color: #2eb6ff;
  color: white;
  padding: 20px;
  border-radius: 10px;
}
.weather-icon {
  width: 60px;
  margin-bottom: 20px;
}

.curr-city,
#current-weather {
  font-size: 25px;
}

.curr-city {
  display: flex;
  align-items: center;
  /* justify-content: center;
  text-align: center; */
}

.fahrenheit,
.celsius,
.dash {
  text-decoration: none;
  color: #7f7f7f;
  font-size: 20px;
}

.current-city-weather .active {
  color: white;
  cursor: default;
}

.current-city-weather .active:hover {
  text-decoration: none;
}

.weather-description {
  text-transform: capitalize;
}
.location-pin {
  color: rgb(115, 53, 53);
}
/* -------------------------- FOOTER  ------------------------------- */

.footer {
  text-align: center;
  margin-top: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgb(160, 160, 160);
  font-size: 15px;
}
